---
/* Seccion Hero */
---

<section class="relative w-full min-h-[125vh]">
  <div class="absolute inset-0 z-0">
    <!-- Background -->
    <img
      src="/background/BackgroundHero.svg"
      alt="Background Hero"
      class="w-full h-full object-cover object-top scale-105 -translate-y-1"
    />
  </div>
  {/* Onda */}
  <div class="absolute inset-0 z-10 pointer-events-none overflow-hidden">
    <img
      src="/assets/onda1.svg"
      alt=""
      class="absolute top-1/2 -translate-y-[52%] -left-[11%] scale-105"
    />
  </div>

  <div
    class="relative z-20 max-w-8xl mx-auto h-full px-12 flex flex-col pt-[38vh] items-center"
  >
    <div class="flex justify-between items-center max-w-250">
      <div class="pl-4 pb-40">
        <div class="relative w-162.5 font-title text-[4rem]/13">
          <h1 class="text-white">
            <span class="block font-light tracking-tight">ESTUDIO DE</span>

            <span class="block font-bold text-brand-cyan">COMUNICACIÓN</span>

            <span class="block italic text-brand-coral">CREATIVA</span>
          </h1>
        </div>
        <div class="pl-0 flex items-center gap-0 max-w-220 mt-3">
                  <img
              src="/iconos/posicionamiento.svg"
              alt=""
              class="w-25 translate-y-2"
            />
          <p
            class="text-brand-gray/90 font-subtitle text-[1.3rem] font-extralight leading-[0.8] antialiased tracking-[0.01em]"
          >
            <span class="opacity-90">Para marcas</span>
            <br />
            <span class="font-medium">en crecimiento</span><br />
          </p>
     
        </div>
      </div>
      <div class="text-right flex flex-col items-between gap-15 pb-18">
        <div>
          <img
            src="/iconos/icono-hero.svg"
            alt=""
            class="ml-auto mb-4 w-30 scale-105 absolute right-[15%] top-[30%]"
          />
        </div>
        <div>
          <button
            class="font-body bg-brand-cyan text-brand-blue px-4 py-3 rounded-xl font-bold text-[1.02rem] hover:bg-brand-coral transition"
          >
            Agenda una llamada
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="relative z-20 max-w-220 mx-auto h-[20vh] px-4.5 flex pt-[30vh] justify-end items-center gap-9"
  >
  </div>
 <h2 class="absolute right-60 bottom-3 font-body text-lg z-11 text-white font-light antialiased tracking-[0.01em]">Confiaron en nosotros</h2>
</section>
