---
import logo from "../assets/logo_svg/logo.svg";
---
<nav class="absolute top-0 w-full z-50 bg-transparent font-body">

  <div class="max-w-8xl mx-auto px-25 py-6 flex justify-between items-center">

    <!-- Logo -->
    <img src={logo.src} alt="Smartketing" class="h-13" />

    <!-- Links -->
    <ul class="hidden md:flex gap-14 text-base text-brand-gray font-extralight">
        <li><a href="#about" class="hover:text-brand-blue transition">Quiénes somos</a></li>
        <li><a href="#services" class=" hover:text-brand-blue transition">Servicio</a></li>
      <li><a href="#team" class="hover:text-brand-blue transition">Equipo</a></li>
      <li><a href="#contact" class="hover:text-brand-blue transition">Contáctenos</a></li>
    </ul>

  </div>

</nav>
