---
import Hero from "../components/main/Hero.astro";
import About from "./main/About.astro";
import Customers from "./main/Customers.astro";
---

<main class="">
  <Hero />
  <Customers />
  <About />
</main>