---
import Hero from "../components/main/Hero.astro";
import HeroPrueba from "../pruebas/HeroPrueba.astro";
import About from "./main/About.astro";
import Customers from "./main/Customers.astro";
---

<main class="">
  <HeroPrueba />
  <Customers />
  <About />
</main>